/* BEGIN FONTS */
@import url('https://fonts.googleapis.com/css?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

/* See https://matthewjamestaylor.com/responsive-font-size */
html {
   font-size: calc(15px + 0.390625vw) !important; 
}

body {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  font-size: 2rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.2em !important;
}

h2, h3, h4 {
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

caption {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}


/* END FONTS */


/* BEGIN MAIN MENU  */


.header-title-logo img {
	max-height: 60px;
}

@media screen and (min-width: 767px) {
	.header-title-logo img {
		max-height: 80px;
	}
}

body:not(.header--menu-open) .white .header-nav-wrapper .header-nav-item.header-nav-item--collection a
 {
   padding: 0.1rem 0.9vw;
}


body:not(.header--menu-open) .white .header-nav-wrapper .header-nav-item:last-child a
 {
   	color: #fff;
	background-color: #035438;
    border-radius: 1rem;
}

body:not(.header--menu-open) .white .header-nav-wrapper .header-nav-item:last-child a:hover
 {
	background-color: #a142ff;
}

.header-nav-folder-content {
  background: #035438 !important;
  left: 0 !important;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

nav.header-nav-list .header-nav-item:nth-child(2) > a {
  margin-left: -13px
}
nav.header-nav-list .header-nav-item {
  padding-top: 0.5rem;
}
nav.header-nav-list .header-nav-item  a {
  font-size: 1.1rem;
}
 
nav.header-nav-list .header-nav-item:nth-child(2) {
  display: inline-block;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.5rem 1rem 0 2.5rem;
  background: url('https://static1.squarespace.com/static/626d3a53496e6707a6e79662/t/62a9241635146b5715f1a985/1655251990695/down-chevron-svgrepo-com.svg') no-repeat;
  background-position: 8% 56%;
  background-size: 15%;
}

nav.header-nav-list .header-nav-item:nth-child(2):hover {
  background: #035438 url('https://static1.squarespace.com/static/626d3a53496e6707a6e79662/t/62a9241ccd6cb0169938138f/1655251997022/up-chevron-svgrepo-com.svg') no-repeat;
  background-position: 8% 56%;
  background-size: 15%;
}
nav.header-nav-list .header-nav-item:nth-child(2):hover a {
  color: #fff;
}
nav.header-nav-list .header-nav-item:nth-child(2) a:hover span.header-nav-folder-item-content {
  color: #d2ff4b;
  display: inline-block;
}


.header-nav-folder-content .header-nav-folder-item a {
  color: #fff !important;
  
}

.header .header-nav-wrapper a:hover {
  text-decoration: none !important;
  color: #a142ff !important;
}
.header .header-nav-wrapper .header-nav-item:nth-child(2) a:hover,
.header .header-nav-wrapper .header-nav-item:last-child a:hover  {
  color: #fff !important;
}

.header .header-nav-wrapper a:hover {
  color: #fff;
}

.site-wrapper .header-menu .header-menu-nav .header-menu-nav-item--active a, .site-wrapper .header-menu .header-menu-nav .header-nav-item--active a,
.site-wrapper .header-menu .header-menu-nav a:not(.btn) {
  color: #035438;
}

.site-wrapper .header-menu .header-menu-nav a:not(.btn):hover {
  color: #a142ff;
}

/* END MAIN MENU  */

/* Begin forms */
label.title, 
span.caption-text,
input.button.sqs-system-button.sqs-editable-button.sqs-button-element--primary,
.form-wrapper .field-list .field .field-element {
  color: #025439 !important;
}


input.button.sqs-system-button.sqs-editable-button.sqs-button-element--primary {
  border-radius: 1em;
}

input.button.sqs-system-button.sqs-editable-button.sqs-button-element--primary:hover {
  color: #d2ff4b !important;
}


/* BEGIN MISC */
.sqs-block-image .design-layout-stack .image-card-wrapper .image-subtitle-wrapper div.image-subtitle.sqs-dynamic-text {
  margin-top: 2%;
}
/* END MISC */


